<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1 class="welcome-title">Welcome to the Heart Disease Prediction App</h1>
        <p class="welcome-text">Check whether you have heart disease or not with the help of Machine Learning.</p>
        <img src="{{ url_for('static', filename='Home page.PNG') }}" alt="Home Image" class="welcome-image">
        <a href="{{ url_for('form') }}" class="welcome-button">Predict Heart Disease</a>
    </div>
</body>
</html>
